/* Fonts */
@import url("./fonts.css");




/* Global */
body {
    font-family: 'Concourse';
    padding-top: 20px;
}

.container {
    max-width: 700px;
}

/* Links */

a {
    color: #880000 !important;
    padding: 2px;
    margin: -2px;
    text-decoration: none !important;
}

a:not(.navbar-brand):hover, .pager li:hover {
    background-color: rgba(136, 0, 0, 0.09) !important;
}

h2.index a:hover {
    background-color: rgba(238, 238, 238, 0.72) !important;
}



/* Nav */
.nav {
    padding-top: 15px;
}

.navbar {
    background: none;
    height: 70px;
    border-bottom: none;
    padding-right: 5px;
    margin-left: auto;
    border: none;
}

.navbar .container {
    height: 70px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .navbar-brand {
        line-height: 24px;
    }

    .navbar-toggle {
        position: absolute;
        right: 0;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 28px !important;
    }

    .nav {
        padding-top: 0;
    }

    pre {
        overflow-x: auto;
    }
}

.navbar-brand {
    font-weight: bold;
    background: none;
    letter-spacing: 0.04em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9) !important;
    font-family: 'Concourse' !important;
}



.nav li a {
    padding: 0px;
    margin: 0 10px;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    color: #444 !important;
    font-family: 'Concourse' !important;
}

.nav .active a, .nav > li a:hover {
    background: none !important;
    border-bottom: 2px solid black;
    color: black !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Concourse' !important;
}

h1 {
    border-top: 2px solid black;
    border-bottom: none;
    display: inline-block;
    font-size: 32px;
    padding-top: 5px;
    margin-bottom: 10px;
}


h2 {
    margin: 30px 0 5px 0;
}

h2:not(.index) {
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;

}

h2 a {
    color: rgba(0, 0, 0, 0.9) !important;
    padding: 2px 7px;
    position: relative;
    left: -5px;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0;  
}

/* Code */
.linenos {
    display: none;
}

code {
    color: black;
}

.sourcetable {
    width: 100%;
}

code, pre {
    font-family: Fira Code;
    font-size: 16px;
}

pre {
    white-space: pre;
    width: inherit;
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 3px;
    font-size: 16px;
    margin: 20px 0;
    background: none;
    border-width: 0;
    padding: 15px;
    padding-left: 40px;
    /* border-color: #eee; */
}


article {
    margin-bottom: 75px;
}

.post-title {
    padding-bottom: 15px;
}

article img {
  /* Make sure that images within blog articles never take more width
     than the article width; `height: auto` ensures the height is also
     resized proportionally.

     This is useful given that Markdown itself gives you little
     control over image resizing, and in particular no way to achieve
     this "best fit" behavior.
 */
  max-width: 100%;
  height: auto;
}





button.navbar-toggle {
    border: none;
    opacity: 0.4;
}

span.icon-bar {
    background-color: #191919 !important;
}

.navbar-collapse {
    margin-left: auto !important;
}


/* Footer */
.container > footer > p {
    font-size: 14px !important;
    margin-top: 0;
    font-family: Concourse;
}

article footer {
    margin-top: 15px;
}

article footer.post-footer {
    margin-top: 100px;
}

article footer.post-footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


article footer.post-footer > div .comments {
    font-size: 20px;
    margin-right: 20px;
}


ul.nav.navbar-nav {
    margin-left: auto;
}

.nav>li {
    display: inline-block;
}

ul.nav.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Lists */
ul:not(.nav) {
    font-size: 20px;
}


ol {
    font-size: 20px;
}

/* Date and Tags */
p.date-and-tags {
    display: none;
}


.date-and-tags {
    font-style: italic;
}

/* Pager */
.pager li a {
    border: none;
    border-radius: 0;
    padding: 2px;
}


.pager li a em {
    font-style: normal;
}
