/* Fonts */
@import url("./fonts.css");




/* Global */
body {
    font-family: Concourse;
    color: #333;
}

.container {
    position: relative;
    max-width: 600px;
    padding: 0 30px;
}

/* Links */

a {
    color: #880000 !important;
    padding: 2px;
    margin: -2px;
    text-decoration: none !important;
}

a:not(.navbar-brand):hover, .pager li:hover a {
    background-color: rgba(136, 0, 0, 0.09) !important;
}

article.index h2 a:hover {
    background-color: rgba(238, 238, 238, 0.72) !important;
}



/* Nav */
.nav {
    padding-top: 15px;
}

.navbar {
    background: none;
    height: 70px;
    border-bottom: none;
    padding-right: 5px;
    margin-left: auto;
    border: none;
    margin-top: 20px;
}

.navbar .container {
    height: 70px;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* max-width: 700px; */
}

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .navbar {
        padding: 0 5px 0 3px;
        margin-top: 0 !important;
    }

    .navbar-brand {
        line-height: 24px;
    }

    .navbar-toggle {
        position: absolute;
        right: 0;
    }

    p {
        font-size: 16px !important;
    }

    h1, .index h2 {
        font-size: 26px !important;
    }
    
    h2:not(.index) {
        font-size: 17px !important;
    }

    .nav {
        padding-top: 5px !important;
    }

    pre, code {
        font-size: 12px !important;
    }

    pre {
        padding-left: 20px !important;
        width: inherit !important;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.navbar-brand {
    font-weight: bold;
    background: none;
    letter-spacing: 0.04em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9) !important;
    font-family: 'Concourse' !important;
}

ul.nav.navbar-nav {
    margin-left: auto;
}

.nav>li {
    display: inline-block;
}

ul.nav.navbar-nav {
    display: flex;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.nav li a {
    padding: 0px;
    margin: 0 10px;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    color: #444 !important;
    font-family: 'Concourse' !important;
}

.nav .active a, .nav > li a:hover {
    background: none !important;
    border-bottom: 2px solid black;
    color: black !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Concourse' !important;
}

h1 {
    /* border-top: 2px solid black; */
    border-bottom: none;
    display: inline-block;
    font-size: 30px;
    padding-top: 5px;
    margin-bottom: 10px;
}


h2 {
    margin: 30px 0 5px 0;
}

h2.index {
    font-size: 26px; 
}

h2:not(.index) {
    margin-top: 60px;
    font-weight: bold;
    font-size: 21px;
}

h2 a {
    color: #333 !important;
    /* padding: 2px 7px; */
    /* display: inline-block; */
    position: relative;
    /* left: -5px; */
}

h4 {
    font-weight: 600;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0;
}

/* Code */
.linenos {
    display: none;
}

code {
    color: black;
}

.sourcetable {
    width: 100%;
}

code, pre {
    font-family: Fira Code;
    font-size: 16px;
}

pre {
    white-space: pre;
    margin: 0;
    background-color: rgba(139, 121, 121, 0.05);
    border-radius: 0;
    font-size: 15px;
    margin: 20px 0;
    /* background: none; */
    border-width: 0;
    /* border-color: #eee; */
    padding: 20px;
    padding-left: 50px;
    /* border-left: 2px solid rgba(139, 121, 121, 0.15); */
    overflow: auto;
    background: none;
    word-wrap: normal;
    display: block;
    width: 700px;
}


article {
    margin-bottom: 75px;
    /* margin-top: 25px; */
}

.post-title {
    padding-bottom: 15px;
}

article img {
  /* Make sure that images within blog articles never take more width
     than the article width; `height: auto` ensures the height is also
     resized proportionally.

     This is useful given that Markdown itself gives you little
     control over image resizing, and in particular no way to achieve
     this "best fit" behavior.
 */
  max-width: 100%;
  height: auto;
}

.caption {
    display: none;
}




button.navbar-toggle {
    border: none;
    opacity: 0.4;
}

span.icon-bar {
    background-color: #191919 !important;
}

.navbar-collapse {
    margin-left: auto !important;
}


/* Footer */
.container > footer > p {
    font-size: 14px !important;
    margin-top: 0;
    font-family: Concourse;
}

article footer {
    margin-top: 15px;
}

article footer.post-footer {
    margin-top: 100px;
    border-top: 1px solid #eee;
}

article footer.post-footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


article footer.post-footer > div .comments {
    font-size: 20px;
    margin-right: 20px;
}


@media(min-width: 768px) {
    footer {
        position: relative;
    }
}



footer:not(.index) hr {
    display: none;
}

footer:not(.index) {
    margin-top: -30px;    
}


/* Lists */
ul:not(.nav), ol {
    font-size: 20px;
}

ol {
    font-size: 20px;
}

/* Date and Tags */
p.date-and-tags {
    display: none;
}


.date-and-tags {
    font-style: italic;
}

/* Pager */
.pager li a {
    border: none;
    border-radius: 0;
    display: inline;
    padding: 2px;
}


.pager li a em {
    font-style: normal;
}


article footer:not(.post-footer) {
    display: none;
}


blockquote {
    color: #707070;
    /*border-left: 0px solid #eee;*/
    border: none !important;
    background: none !important;
    padding-left: 0px;
}


ul.pager {
    display: flex;
}

ul.pager li {
    width: 50%;
}

ul.pager li.next {
    margin-left: auto;
}

.pager a {
    /* display: inline !important; */
}