@font-face {
    font-family: Fira Code;
    font-weight: normal;
    src: url('/fonts/FiraCode-Regular.woff');
}

@font-face {
    font-family: Fira Code;
    font-weight: bold;
    src: url('/fonts/FiraCode-Medium.woff');
}




@font-face {
    font-family: Concourse;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/Concourse T3 Regular.otf');
}


@font-face {
    font-family: Concourse;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/Concourse T3 Italic.otf');
}


@font-face {
    font-family: Concourse;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../fonts/Concourse T3 Bold.otf');
}


@font-face {
    font-family: Concourse;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('../fonts/Concourse T3 Bold Italic.otf');
}