
* {
    font-family: 'futura-pt';
}

html {
    perspective: 5000px;
}


body {
    max-width: 800px;
    width: 70vw;
    border: 1px solid lightblue;
    margin: auto;
    font-size: 140%;
    margin-top: 25vh;
    margin-bottom: 300px;
    position: relative;
    left: 100px;
    top: 100px
}

body > * {
    transform: rotateY(20deg) translateX(-100px) translateY(-100px);
}

p {
    max-width: 600px;
    /* padding-l */
}

h1 {
    max-width: 100%;
    font-size: calc(80% + 15vw);
    margin-bottom: 30px;
    line-height: 1;
    width: min-content;
    position: relative;
    display: flex;
}

h2 {
    background: black;
    color: white;
    font-weight: lighter;
    font-size: 90%;
    padding: 10px;
    max-width: 600px;
}

h4 {
    margin-bottom: 100px;
}

h1, h2, h3 {
} 


/* Img */
img {
    display: flex;
    width: 100%;
    max-width: 600px;
    transition: all .2s;
    border: 3px solid transparent;
}

img:hover {
    border: 3px solid black;
}

img.active {
    transform: rotateY(0deg) translateX(-50px) translateY(-100px) translateZ(300px) scale(1.2);
    box-shadow: 0 50px 50px 5px rgba(0, 0, 0, 0.108);
}

footer a {
    margin-top: 50px;
    color: rgb(173, 173, 173);
    text-decoration: none;
    border-bottom: 2px solid lightgrey;
    font-size: 90%;
}