:root {
    background: var(--background) !important;
    --background: #0a0a0a;
}
*, a {
    color: white !important;
}
body {
    display: flex;
    max-width: unset;
    /* font-family: NeuzeitGroTOT !important; */
    /* perspective: 1px; */
    margin-top: 0;
    padding: 50px 90px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 200px; */
    width: 100vw !important;
    /* align-items: center; */
    margin-bottom: 0;
}

.container {
    /* display: grid; */
    max-width: 1000px;
    display: flex;
    /* padding-bottom: 150px; */
    perspective: 1px;
    transition: all .3s;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    /* transform: translateZ(-1px) scale(0.5); */
    flex-direction: column;
}

header #nav-trigger {
    z-index: 3;
    width: 75px;
}

.menu-open .container {
    filter: blur(10px);
    transform: scale(0.9);
}


header #nav-trigger:hover {

    transform: rotateZ(-5deg);
}

.menu-open nav {
    z-index: 2;
    opacity: 1;
}

html:not(.menu-open) nav {
    pointer-events: none;
    transform: translateX(-40px);
}

nav {
    
    transition: all 0.2s;
    position: fixed;
    width: 100vw;
    font-size: calc(28px + 1.1vw);

    /* overflow: scroll; */
    /* background: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif); */
    /* display: flex; */
    height: 100vh;
    margin: auto;
    max-width: 1000px;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 40px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    /* transform: translateZ(0.5px) scale(0.5); */
}

nav a {
    margin: 0 auto;
    background: #000000bf;
    max-width: 1000px;
    /* font-family: NeuzeitGroTOT; */
    height: min-content;
    width: max-content;
    text-transform: lowercase;
    background-size: 50%;
    padding-left: 25px;
    mix-blend-mode: difference;
    /* padding-top: 15px; */
    margin-left: 15px;
    padding-right: 30px;
    border: none !important;
    transition: all .1s;
}

nav a:first-child {
    font-weight: bold;
}

nav a:hover {
    background: url(/images/bars.gif);
    /*background: url(http://25.media.tumblr.com/tumblr_lyhu07uXPP1qzt4vjo1_500.gif);*/
    /* background-size: contain; */
    /* background: white; */
    color: black !important;
    opacity: 1 !important;
    /* background-size: 10%; */
    /* background: url(/images/balls.gif); */
}

video {
    /* position: fixed; */
    /* z-index: -1; */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    /* height: 100vh; */
    /* opacity: 0.1; */
}

p:first-child {
    grid-column: 1;
}

p:first-child {
    grid-column: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 8;
    background: url(/images/static.gif);
    background-size: cover;
    transition: opacity 0.3s;
    pointer-events: none;
}


.menu-open body::before {
    opacity: 0.1;
}



@media(max-width: 600px) {
    .container {
            grid-template-columns:  1fr !important;
            margin-top: 0;
    }
}



.container > p:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

section:first-of-type {
    grid-column: 1;
}

#particles, #particles canvas {
    width: 100%;
    /* position: absolute; */
}

img {
    width: 50%;
    transition: opacity 0.1s;
}

pre.highlight code {
    width: 100%;
    background: #ffffff1a;
    border-radius: 10px;
    padding-left: 30px;
}

pre.highlight {
    width: 100%;
    left: auto;
    margin-left: auto;
}

pre.highlight {
    padding-left: 0;
    padding-right: 0;
}

audio {
    width: 90%;
    grid-column: 1;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10vw;
    margin-bottom: 10vh;
    /* position: relative; */
    /* left: 50%; */
    /* margin-left: calc(-50vw); */
    /* background: black; */
}

img#boy {
    margin: auto;
    display: flex;
}

h2 {
    /* border-top: 1px solid #2d2d2d; */
    padding: 10px;
    font-weight: 900;
    1: 0
    /* margin-left: auto; */
    text-transform: uppercase;
    margin-bottom: 0;
    color: #72748c !important;
    padding-bottom: 5px;
    padding-top: 0;
    padding-left: 0;
    /* width: 50%; */
    text-stroke: white;
    font-size: 140%;
    /* text-shadow: -1px -1px 0 #0000008a, 1px -1px 0 #000000, -1px 1px 0 #ffffff6b, 1px 1px 0 #00000052; */
}

section:nth-of-type(odd) aside {
    /* grid-column: 2; */
}

@media (max-width: 600px) {
    nav {
/*         font-size: 28px; */
        padding-left: 10px;
    }
}

.menu-open body {
    /* background: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif); */
    background-size: cover;
    background-color: black;
}

header {/* align-items: center; *//* justify-content: space-between; */}

#header-sketch h1 {
    font-size: 700%;
    /* text-shadow: -1px -1px 0 #000000, 1px -1px 0 #ffffff4f, -1px 1px 0 #2323239c, 1px 1px 0 #ffffff7d; */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    /* margin-bottom: 100px; */
    color: var(--background) !important;
}

div#header-sketch {
    justify-content: center;
    display: flex;
    /* height: 300px; */
    margin-bottom: 150px;
}

.container {}

@media (max-width: 750px) {
    .container section {
        grid-template-columns: 1fr !important;
        grid-gap: 75px;
        margin-bottom: 0;
    }
     .container section * {
        order: unset !important;
    }
    #header-sketch h1 {
        font-size: 300%;
    }

}
@media (max-width: 600px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }

  

}

p {
    margin-top: 0.5px;
    margin-bottom: calc(5px + 3vh);
}

html.menu-open {
    --background: black !important;
}

html {
   background: var(--background) !important;
}



/* Themes */
html#music * {
}

html#music {
    --h1-stroke: #81515D;
}

html#music:not(.menu-open) {
    --background: #2B303B !important;
    --h1-stroke: #81515D;
}


html h1 {
   text-shadow:
-1px -1px 0 var(--h1-stroke), 1px -1px 0 var(--h1-stroke), -1px 1px 0 var(--h1-stroke), 1px 1px 0 var(--h1-stroke)
 !important;
}

html#music h1 {
   --h1-stroke: #9F5B69;
}



html#music h2 {
   color: #91ADA8 !important;
}


html#music strong {
    color: #BC7864;
    color: #6c93ab !important;
}

#header-sketch h1 {
    --h1-stroke: white;

}

html#hacking-programming #header-sketch h1 {
    --h1-stroke: #f1e2c0 ;
}

html#hacking-programming {
    --background: #282828 !important;
}
html#hacking-programming .container  {
    color: #f1e2c0 !important;
}



html#graphic-illustration   {
    --background: #0C2B35 !important;
}



html#writing   {
    --background: #272821 !important;
}

html#writing #header-sketch h1 {
    /* --h1-stroke: #92C916 !important; */
    --h1-stroke: #956DD8;
}



html#interaction #header-sketch h1 {
    --h1-stroke: white !important;
}




/* Player */
audio::-webkit-media-controls{
/*   opacity: 0.5; */
/*   border-radius: 0.25px; */
/*   filter: invert(1); */


}

audio::-webkit-media-controls-panel {

}

audio::-webkit-media-controls-enclosure {
/*   opacity: 0.5; */
  border-radius: 10px;
  filter: invert(1);
    opacity: 0.5;



}


#graphic-illustration h1 {
    /* --h1-stroke: #DC322F; */
    --h1-stroke: #258BD2;
}

main {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

aside:hover img {
    opacity: 1 !important;
}

nav a[href="/"] {
    font-size: 50%;
    opacity: 0.5;
    margin-top: 2vh;
}

section.fullwidth {
    position: relative;
    left: 50%;
    margin-left: calc(-50vw);
}

section.fullwidth .inner {
    max-width: 1000px;
    margin: auto;
    width: 100vw;
}