:root {
    background: #141414 !important;
    --background: #101010;
}
*:not(pre), a {
    color: #ffffffd9 !important;
    font-family: Mabry Pro !important;
}

body.slideout {
    transition: all 1s;
    transform: translateX(-100vw) scale(0.8);
    opacity: 0;
}

#next-arrow {
    position: fixed;
    width: 100px;
    top: 0;
    bottom: 50px;
    right: 50px;
    margin: auto;
    mix-blend-mode: exclusion;
    transition: all .2s;
    cursor: pointer;
    z-index: 999;
}

@media(max-width: 600px) {
    #next-arrow {
        position: fixed;
        width: 100px;
        bottom: 33px !important;
        top: unset !important

    }
}


*::selection {
    background: hsla(4, 10%, 100%, 0.2);
}

#subsite {
    display: none;
    /* top: 75px; */
}
body {
    display: flex;
    max-width: unset;
    /* perspective: 1px; */
    margin-top: 0;
    padding: 50px 90px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 200px; */
    width: 100vw !important;
    /* align-items: center; */
    margin-bottom: 0;
    line-height: 1.15;
}

.container {
    /* display: grid; */
    max-width: 1200px;
    display: flex;
    /* padding-bottom: 150px; */
    perspective: 1px;
    transition: all .3s;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    /* transform: translateZ(-1px) scale(0.5); */
    flex-direction: column;
}

header #nav-trigger {
    z-index: 3;
    width: 75px;
    /* background: black; */
    /* mix-blend-mode: exclusion; */
    position: absolute;
    /* padding-top: 25px; */
    top: calc(194px);
    left: calc(175px);
}

.menu-open .container {
    filter: blur(10px);
    transform: scale(0.9);
}


header #nav-trigger:hover, #glasses:hover {

    transform: rotateZ(-5deg);
}

.menu-open nav {
    z-index: 2;
    opacity: 1;
}

html:not(.menu-open) nav {
    pointer-events: none;
    transform: translateX(-40px);
}

nav {
    transition: all 0.2s;
    position: fixed;
    overflow: scroll;
    display: flex;
    width: 100vw;
    font-size: calc(26px + 0.5vw);
    /* overflow: scroll; */
    /* background: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif); */
    /* display: flex; */
    height: 100vh;
    margin: auto;
    max-width: 1000px;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 40px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    padding-top: 21vh;
    padding-bottom: 20vh;
    /* transform: translateZ(0.5px) scale(0.5); */
}

nav a {
    margin: 0 auto;
    background: #000000bf;
    max-width: 1000px;
    /* font-family: NeuzeitGroTOT; */
    margin-left: 0 !important;
    height: min-content;
    padding-left: 25px;
    padding-bottom: 5px;
    width: max-content;
    text-transform: lowercase;
    background-size: 50%;
    /* padding-left: 25px; */
    mix-blend-mode: difference;
    /* padding-top: 15px; */
    margin-left: 15px;
    padding-right: 30px;
    border: none !important;
    transition: all .1s;
}

nav a.story:first-child {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 6px;
    font-size: 70%;
    font-weight: bolder;
    margin-bottom: 2vh !important;
}

nav a:hover {
    /*background: url(/images/bars.gif);*/
    /*background: url(http://25.media.tumblr.com/tumblr_lyhu07uXPP1qzt4vjo1_500.gif);*/
    /* background-size: contain; */
    /* background: white; */
    color: black !important;
    opacity: 1 !important;
    /* background-size: 10%; */
    /* background: url(/images/balls.gif); */
}

video {
    /* position: absolute; */
    /* z-index: -1; */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    /* filter: blur(1.2px); */
    /* top: 0; */
    /* position: fixed; */
    /* left: 0; */
    /* height: 100vh; */
    /* opacity: 0.05; */
}

p:first-child {
    grid-column: 1;
}

p:first-child {
    grid-column: 1;
}




.menu-open body::before {
}



@media(max-width: 600px) {
    .container {
        grid-template-columns:  1fr !important;
        margin-top: 0;
    }
}

@media(max-width: 750px) {
    nav {
        flex-direction: column;
    }
}



.container > p:first-of-type {
    grid-column: 2;
    grid-row: 1;
}

section:first-of-type {
    grid-column: 1;
}

#particles, #particles canvas {
    width: 100%;
    /* position: absolute; */
}

img {
    width: 100%;
    transition: opacity 0.1s;
}

pre.highlight code {
    width: 100%;
    background: #ffffff1a;
    border-radius: 10px;
    padding-left: 30px;
    font-family: Fira Code !important;
}

pre.highlight {
    width: 100%;
    left: auto;
    margin-left: auto;
}

pre.highlight {
    padding-left: 0;
    padding-right: 0;
    font-family: Fira Code;
    background: transparent;
}

audio {
    width: 100%;
}

section {
    display: flex;
    grid-template-columns: 1fr 1fr;
    line-height: 1.25;
    grid-gap: 10vw;
    /* max-width: 600px; */
    flex-direction: column;
    margin: auto;
    margin-bottom: 10vh;
    color: #333;
    /* position: relative; */
    /* left: 50%; */
    /* margin-left: calc(-50vw); */
    /* background: black; */
}

img#boy {
    margin: auto;
    display: flex;
}

h2 {
    /* border-top: 1px solid #2d2d2d; */
    padding: 10px;
    font-weight: 900;
    margin-top: 50px;
    /* margin-left: auto; */
    text-transform: uppercase;
    margin-bottom: 0;
    /* color: #72748c !important; */
    padding-bottom: 5px;
    padding-top: 0;
    padding-left: 0;
    /* width: 50%; */
    opacity: 0.5;
    text-stroke: white;
    font-size: 140%;
    /* text-shadow: -1px -1px 0 #0000008a, 1px -1px 0 #000000, -1px 1px 0 #ffffff6b, 1px 1px 0 #00000052; */
}

section:nth-of-type(odd) aside {
    /* grid-column: 2; */
}

@media (max-width: 600px) {
    nav {
        /*         font-size: 28px; */
        padding-left: 10px;
    }
}

.menu-open body {
    /* background: url(https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif); */
    background-size: cover;
    background-color: black;
}

header {/* align-items: center; *//* justify-content: space-between; */height: 300px;border-radius: 50%;width: 300px;left: -150px;position: absolute;display: flex;background: none;/* padding-top: 25px; *//* border: 1px solid #1d1d1d; */top: -150px;}

#header-sketch h1 {
    /* font-size: 700%; */
    margin-top: 100px;
    font-size: calc(5vw + 10px);
    /* text-shadow: -1px -1px 0 #000000, 1px -1px 0 #ffffff4f, -1px 1px 0 #2323239c, 1px 1px 0 #ffffff7d; */
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    /* margin-bottom: 100px; */
    color: var(--background) !important;
}

div#header-sketch {
    justify-content: center;
    display: flex;
    /* height: 300px; */
    margin-bottom: 150px;
}

.container {}

@media (max-width: 750px) {
    .container section {
        grid-template-columns: 1fr !important;
        grid-gap: 75px;
        margin-bottom: 0;
    }
    .container section * {
        order: unset !important;
    }
    #header-sketch h1 {
        font-size: 300%;
    }

}
@media (max-width: 600px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }



}

p {
    margin-top: 0.5px;
    margin-bottom: calc(5px + 3vh);
    font-weight: 300 !important;
    line-height: 1.55 !important;
}

html.menu-open {
    --background: black !important;
    overflow: hidden;
}

html {
    background: var(--background) !important;
}



/* Themes */
html#music * {
}

html#music {
    --h1-stroke: #81515D;
}

html#music:not(.menu-open) {
    --background: #2B303B !important;
    --h1-stroke: #81515D;
}


html h1 {
    text-shadow:
            -1px -1px 0 var(--h1-stroke), 1px -1px 0 var(--h1-stroke), -1px 1px 0 var(--h1-stroke), 1px 1px 0 var(--h1-stroke)
    !important;
}

html#music h1 {
    --h1-stroke: #9F5B69;
}



html#music h2 {
    color: #91ADA8 !important;
}


html#music strong {
    color: #BC7864;
    color: #6c93ab !important;
}

#header-sketch h1 {
    --h1-stroke: white;

}

html#hacking-programming #header-sketch h1 {
    --h1-stroke: #f1e2c0 ;
}

html#hacking-programming {
    --background: #282828 !important;
}
html#hacking-programming .container  {
    color: #f1e2c0 !important;
}



html#graphic-illustration   {
    --background: #0C2B35 !important;
}



html#writing   {
    --background: #272821 !important;
}

html#writing #header-sketch h1 {
    /* --h1-stroke: #92C916 !important; */
    --h1-stroke: #956DD8;
}



html#interaction #header-sketch h1 {
    --h1-stroke: white !important;
}




/* Player */
audio::-webkit-media-controls{
    /*   opacity: 0.5; */
    /*   border-radius: 0.25px; */
    /*   filter: invert(1); */


}

audio::-webkit-media-controls-panel {

}

audio::-webkit-media-controls-enclosure {
    /*   opacity: 0.5; */
    border-radius: 10px;
    filter: invert(1);
    opacity: 0.5;



}


#graphic-illustration h1 {
    /* --h1-stroke: #DC322F; */
    --h1-stroke: #258BD2;
}

main {
    justify-content: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

aside:hover img {
    opacity: 1 !important;
}

nav a[href="/"] {
    font-size: 50%;
    opacity: 0.5;
    margin-top: 2vh;
}

section.fullwidth {
    position: relative;
    left: 50%;
    display: flex;
    margin-left: calc(-50vw);
    width: 100vw;
}

section.fullwidth .inner {
    max-width: 1000px;
    margin: auto;
    width: 100vw;
}

footer {
    justify-content: center;
    display: flex;
    margin-top: 150px;
    /* filter: invert(1); */
    margin-bottom: 100px;
}

footer strong {
    font-size: 250%;
    color: white;
    opacity: 1;
    transition: all .3s;
    font-style: normal;
}

footer a:hover {
    opacity: 1;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0;
}

footer a:hover {
    border-bottom: 0;
}

nav a.story {display: flex;padding-left: 25px;/* padding-right: 0; */flex-direction: column;padding-bottom: 10px;}

a.story .description {
    font-size: 60%;
    /* padding-left: 25px; */
    opacity: 0.5;
    font-weight: 00;
    font-style: italic;
    margin-top: -10;
    padding-top: 0;
    padding-bottom: 5px;
}

nav a .description {
    padding: 0;
}

nav a:hover .description {
    color: black !important;
}

#nav .other {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 15px;
}

nav .bio-story {
    padding-left: 15;
}

a#next:hover span {
    /* transform: translateY(-55px); */
    /* font-size: 150%; */
    /* opacity: 1; */
}

footer a#next:hover strong {
    /* opacity: 0.2; */
}

a#next span {
    transition: all .3s;
}

body {
    padding: 0;
}

.container {
    /* margin-top: 20vh !important; */
    margin: auto;
    padding: 0 40px;
    /* margin-top: 200px; */
    padding-top: 0;
    /* margin: auto; */
    /* margin-bottom: 100px; */
}

.menu  {
    margin-left: 0 !important;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}
.menu a:hover {
    background: url(/images/bars.gif);
    color: black;
    display: block;
    color: black !important;
}

.menu a:hover * {
    color: black !important;
}

.menu > a:hover {
    filter: invert(1);
}


.menu > div {
    width: 33%;
    /* font-weight: 300; */
    margin-bottom: 50px;
}

.menu .link-description {
    opacity: 0.5;
    font-size: 18px;
}

.menu a {
    font-size: calc(24px + 1.5vw);
    width: max-content;
    display: block;
    margin-bottom: 20px;
}

.menu .bio-story {
    /* padding-right: 25px; */
}

@media (max-width: 500px) {
    .menu {
        flex-direction: column;
    }
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(150px + 3.5vw);
    position: relative;
}

.menu .minerva a {
    font-size: 26px!important;
}

img#nav-trigger {
    padding-left: 40px;
    z-index: 999999;
    width: 140px;
    margin-top: 50px;
}

img#nav-trigger:hover {
    transform: rotateZ(-5deg);
    cursor: pointer;
}

aside {
    width: 150%;
    margin: 75px;
    margin-left: -25%;
}

.menu .other {
    width: 66%;
    /* left: 33%; */
    position: relative;
}

.menu .other a {
    font-size: inherit;
    border-bottom: 2px solid hsla(4, 0%, 100%, 0.2) !important;
}

section:last-child {
    margin-bottom: 100px;
}

@media (max-width: 780px) {
    .container {
        margin-top: 0 !important;
    }
    
    .menu {
        
        flex-direction: column;
    }

    .menu .other {
        width: 100%;
    }
}


#next-arrow {
    /*animation: rock 0.5s infinite alternate;*/
    filter: invert(1);
}

@keyframes rock {
    from {
        transform: translate(-10px);
    }
    to {
        transform: translate(10px);
    }
}

.data-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap:  20px;
}

video {}





.data-label {
    /* font-weight: bold; */
}

.menu .other {}

.menu .other.experiments a {
    width: 100%;
}

a {}

strong {
    font-weight: 600;
    color: white !important;
}