

* {
    box-sizing: border-box;
}


/**
 * Search
 */
#filter {
    display: flex;
    width: 100%;
    background: transparent;
    color: black;
    border: none;
    font-size: 20px;
    height: 50px;
    outline: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

#filter::placeholder {
    color: inherit;
    opacity: .3;
    text-transform: lowercase;
}


/**
 * Index
 */
#index {
    width: 100%;
    /* grid-column: 2; */
}

#index .content {
    /*column-count: 4;*/
    /*column-gap: 30px;*/
    grid-gap: 10px 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 0.5fr;
}


#index h2 {
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 130%;
    font-weight: bold;
    /*width: min-content;*/
    padding-right: 10px;
    border-bottom: 1px solid currentColor;
}

#index a {
    transition: none;
    display: inline;
    /*width: max-content;*/
    border: none;
    color: var(--page-txt-color, var(--txt-color));
}

#index a.hidden, #index a.hidden + br, #blog a.hidden {
    opacity: 0.1;
}


#index a:hover {
    border-bottom: none !important;
    transition: none !important;
}


a:hover {
    background: black;
    color: white !important;
}

/*
|--------------------------------------------------------------------------
| link hover/references
|--------------------------------------------------------------------------
|
*/
#index a.highlight {
    background: rgba(255, 63, 67, 0.3);
    opacity: 1 !important;
}

#blog a.highlight {
    background: rgba(255, 63, 67, 0.15);
}


a.highlight-term {
    background: rgba(90, 178, 255, 0.4);
    opacity: 1 !important;
}

#index a:hover {
    transition: none !important;
}

#index a:after {
    display: none;
}

#index .term {
    font-weight: bolder;
}

#index .post {
    font-weight: normal !important;
}





/**
 * Media queries
 */
@media (max-width: 1400px) {
    #index .content {
        column-count: 2;
    }
}

@media (max-width: 750px) {
    #index .content{
        grid-template-columns: 1fr 1fr !important;
    }

    ul.content {
        column-count: 3 !important;
    }
}

@media (max-width: 550px) {

    #index a.hidden, #index a.hidden + br {
        display: none;
    }

    .container {
        grid-template-columns: 1fr !important;
    }
    #index .content {
        grid-template-columns: 1fr !important;
    }

    #index {
        grid-column: 1;
    }

    #index .content{
        column-count: 1;
    }

    header #preview {
        display: none;
    }

    ul.content {
        column-count: 2 !important;
    }
}

@media (max-width: 400px) {
    nav span {
        display: flex;
        position: absolute;
    }

    ul.content {
        column-count: 1 !important;
    }
}

@media (hover: none) {
    header #preview {
        display: none;
    }
}

body {
    margin: 0;
    font-family: neue-haas-unica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 150px; */
}

/**
 * Direct children have max-width
 */
nav, .container, .inner {
    max-width: 1300px;
    padding: calc(20px + 2vh) calc(20px + 5vw);
    width: 100vw;
    margin: auto;
}

.container {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    grid-gap: 0 20px;
    margin-top: 85vh;
}

header {
    background: linear-gradient(270deg, #151e4e, #496c4b, #3a4d4e);
    background-size: 600% 600%;
    animation: gradient 30s ease infinite;
    height: 100vh;
    width: 100vw;
    /* height: 75vh; */
    display: flex;
    /* z-index: -1; */
    justify-content: center;
    position: absolute;
    transition: opacity .5s;
    /* align-items: center; */
    /*flex-direction: column;*/
}

body:not(.header-fade-away) {
    /* color: white; */
}
body:not(.header-fade-away) .container {
    /* opacity: .2; */
}

.header-fade-away header{
    opacity: 0.035;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

nav {
    font-size: 20px;
    color: white;
    font-weight: 300;
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

#reinvdwoerd {
    color: white;
    font-weight: bold;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
footer  {
    margin-top: 50px;
    width: 100vw;
    padding-bottom: 150px;
    background: #eeeeee59;
}

footer h2{
    margin-bottom: 5px;
    margin-top: 50px;
    font-size: 1.2em;
}

footer a  {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    width: max-content;
}



#index h2:first-child {
    margin-top: 0;
}


#index h1 {
    font-size: 1.5em;
    position: relative;
    color: white;
    top: -80px;
    margin-bottom: -30px;
    mix-blend-mode: hard-light;
    /* mix-blend-mode: exclusion; */
}


.header-fade-away h1 {
    color: black;
}


#recent a {
    font-weight: 100 !important;
    color: white;
    font-size: 130%;
    opacity: 0.2;
    display: flex;
    margin-bottom: 10px;
    width: max-content;
}

#recent a:hover, #recent a.active  {
    opacity: 1;
    background: none;
}


#preview {
    width: 400px;
}


header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header iframe {
    width: 100vw;
    height: 100%;
    transition: opacity 2s;
}

header iframe.hidden {
    opacity: 0;
}


h1 #count {
    font-weight: 100;
    border: 1px solid currentColor;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    padding: 0 6px 1px 7px;
    position: relative;
    bottom: 3px;
    left: 15px;
    /*     opacity: 0.7; */
}

.header-fade-away h1 {
    color: black !important;
}

h1 {
    font-size: 1.5em;
    /* margin-top: 50px; */
}

ul.content {
    column-count: 4;
    list-style: none;
    padding: 0;
    column-gap: 0;
}
}

li.post {
    padding-right: 10px !important;
    display: flex;
}

li.post {
    padding-right: 20px;
    /* display: inline-flex; */
    /* flex-direction: column; */
    /* margin-bottom: 10px; */
}


#blog span.date {
    opacity: .3;
    font-size: 80%;
    /* margin-bottom: -5px; */
}

.post a:hover  span {
    opacity: .6;
}

#index .column:not(:first-child) {
    /* text-align: right; */
}

.column:first-child {
    /* column-count: 2; */
}

.post a {
    /* display: grid; */
    line-height: 1.15;
    display: inline !important;
}

#index .column:first-child div {
    column-count: 2;
}

h1:not(:first-child) {
    margin-top: calc(20px + 6vh);
}
