@import "../fonts/Brandon Text/stylesheet.css";

@font-face {
    font-family: Fira Code;
    font-weight: normal;
    src: url('../fonts/FiraCode-Regular.woff');
}

@font-face {
    font-family: Fira Code;
    font-weight: bold;
    src: url('../fonts/FiraCode-Medium.woff');
}


