/* Fonts */
@import url("./fonts.css");
@import url("./pygments.css");

* {
    box-sizing: border-box;
}

:root {
    --accent: rgb(136, 0, 0) !important;
    background: hsla(217, 97%, 12%, 0.83);

    /* hsla(178, 0%, 5%, 0.83); */
    /*r
   rgb(49, 44, 48); 
   rgb(16, 39, 54)
    */
    --text-font: "Brandon Grotesque", "brandon-grotesque";
    --secondary-font: var(--text-font);
    /* --secondary-font: 'Brandon Grotesque'; */
    --code-font: 'Fira Code';
    --color: white;
    color: var(--color) !important;
    transition: background .2s;
}


body {
    font-family: var(--text-font);
    display: flex;
    margin: 100px auto;
    /* margin-bottom: 100px; */
    /* grid-template-columns: 1fr 5fr; */
    display: flex;
    flex-direction: column;
    max-width: 700px;
    /* grid-gap: 50px; */
    padding: 0 40px;
}


.post-list {
    margin: 0;
    /* padding-top: 5px; */
    list-style: none;
    grid-column: 2;
    padding: 0;
    grid-row: 2;
    padding-top: 4px;
}

.post-list a {
    /* margin-bottom: 10px; */
    display: inline !important;
}

a {
    color: white;
    text-decoration: none;
    border-width: 0px 0px 2px 0px;
    border-color: hsla(4, 0%, 100%, 0.2);
    border-style: solid;
}

.month-year {
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 100%;
    margin-top: 20px;
    opacity: 0.4;
    font-family: var(--secondary-font);
}

ul.post-list ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10;
}

ul {
}

article li {
    list-style-type: none;
    position: relative; /* It is required for setting position to absolute in the next rule. */
}

article li::before {
    content: '\2022'; /* Unicode for ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ character */
    position: absolute;
    left: -1em; /* Adjust this value so that it appears where you want. */
    top: -1px;
    font-size: 1.1em; /* Adjust this value so that it appears what size you want. */
}


a.navbar-brand {
    font-weight: bold;
    text-decoration: none;
    /* display: flex; */
    /* text-transform: lowercase; */
    grid-row: 1;
    /* font-size: 90%; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    width: max-content;
}

header {
    display: flex;
    z-index: 3;
    /* justify-content: center; */
    /* grid-column: 1; */
    /* grid-row: 2; */
    margin-bottom: 100px;
    flex-direction: column;
    flex-direction: row;
}

.nav {
    /* text-transform: lowercase; */
    grid-column: 1;
    margin: 0;
    padding-top: 0;
    display: flex;
}

.nav li {
    /* text-align: right; */
}

.post-list > li {
    margin-bottom: 35px;
}

h1 {
    margin-top: 0;
    /* font-family: Century Supra C3; */
    margin-bottom: 50px;
    font-weight: lighter;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
    font-family: var(--secondary-font);
}

h1 {}

strong {
    /* font-size: 90%; */
}

article {
    grid-column: 2;
}

article .wrapper {
    column-count: 1;
    column-gap: 50px;
}

article h2 {
    /* text-transform: uppercase; */
    font-weight: 900;
    /* font-weight: 100; */
    margin-bottom: 0px;
    font-size: 110%;
    /* font-style: italic; */
}

article p {
    /* word-break: break-all; */
    margin-top: 0;
    line-height: 1.5;
    font-size: 100%; /* filter: invert(1); *//* opacity: 0.9; */
}

footer {
    font-style: italic;
    font-size: 90%;
    margin-top: 50px;
}

footer span {
    opacity: 0.5;
}

footer a {
    opacity: 0.7;
}

footer div {
    margin-top:10px;
}


.pager span {
    content: 'next';
    display: flex;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 60%;
    /* text-align: right; */
    /* justify-content: flex-end; */
    text-transform: uppercase;
}

.pager a {
    /* text-decoration: none; */
}

.pager .prev {
    /* grid-column: 2; */
    text-align: left;
}

.pager {
    /* grid-column: 2; */
    display: flex;
    justify-content: space-between;
    text-align: right;
}

blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 20px 30px;
    background: hsla(4, 10%, 80%, 0.07);
    margin: 25px 0;
}

pre.highlight {
    background: #ffffff05;
    padding: 20px;
    /* padding-left: calc(50vw - 600px / 2); */
}


pre.highlight code {
    font-family: Fira Code;
    margin: auto;
    display: block;
    padding: 20px;
    line-height: 1.5;
    width: 630px;
    padding-left: 60px;
}


header .items {
    /* justify-self: flex-end; */
    /* margin-left: auto; */
    display: flex;
    /* margin-top: 30px; */
    font-weight: 500;
    /* flex-direction: column; */
    /* opacity: 0.5; */
    /* text-transform: uppercase; */
}

header .items a {
    /* margin-left: 20px; */
    /* font-size: 80%; */
    font-weight: bold;
}

.navbar-brand .light {
    font-weight: normal !important;
}

a:hover {
    border-bottom: 2px solid hsla(4, 10%, 100%, 0.4);
}

*::selection {
    background: hsla(4, 10%, 0%, 0.3);
}


.highlight {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    /* padding-left: calc(50vw); */
    margin-top: 25px;
    margin-bottom: 25px;
    /* right: calc(650px/2); */
    position: relative;
    left: 50%;
    margin-left: calc(-50vw);
}

article img {
    margin: 30px;
}


:not(pre) > code {
    font-family: var(--code-font);
    font-size: 80%;
    background: hsla(4, 10%, 80%, 0.2);
    padding: 2px 4px;
}

blockquote p:last-child {
    margin-bottom: 0;
}

article img {
    width: 100%;
    margin-left: 0;
}

article h2 {
    margin-top: 30px;
}


/* Spotlight */


.spotlight .item {
    /* background: white; */
    color: black;
    /* padding: 20px; */
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 100%;
    /* height: 10; */
    border-bottom: 3px solid rgba(36, 36, 36, 0.86);
    /* width: 50px; */
    background-size: cover;
    background-position: center;
}

.spotlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 70px;
}


.spotlight .item#illu-anim {
    background-image: url('/images/portfolio-icons/illu-anim.png');
}

.spotlight .item#timebased {
    background-image: url('/images/portfolio-icons/timebased.png');
    background-size: cover;
    background-position: center;
}

.spotlight .item#spatial {
    background-image: url('/images/portfolio-icons/spatial-icon.png');
    background-size: cover;
    background-position: center;
}

.spotlight .item#ludwig {
    background-image: url('/images/portfolio-icons/ludwig.png');
    background-size: contain;
    background-position: center;
    grid-column: 1 / span 2;
    padding-bottom: 50%;
}

.spotlight .item#cap {
    background-image: url('/images/rmuts.svg');
    background-size: contain;
    background-position: center;
    background-color: white;
}
.spotlight .item#climatesplit {
    background-image: url('/images/portfolio-icons/climatesplit.png');
    background-size: cover;
    background-position: center;
}

@media (hover: hover) {
    .spotlight .item:hover {
        /* transform: scale(1.05); */
        opacity: 0.75;
    }
}

@media (max-width: 450px) {
    .spotlight {
        grid-template-columns: 1fr 1fr;
    }

    pre.highlight code {
        font-size: 9px !important;
    }
}

a {
    cursor: pointer;
}



/**
 * Light mode
 */
html.light {
    background: white;
    --color: #333 !important;
}

html.light a {
    color: var(--color);
}

html.light .month-year {
    opacity: 0.5;
}

html.light .spotlight .item {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 3px solid rgba(212, 212, 212, 0.86);
}

html.light a {
    border-color: hsla(4, 10%, 0%, 0.1);
}

html.light a:hover {
    border-bottom: 2px solid hsla(4, 10%, 0%, 0.4);
}

html.light a:hover {
    border-color: hsla(4, 10%, 0%, 0.4);
}

html.light #switch-mode {
    content: 'dark';
}

html:not(.light) article object[type="image/svg+xml"] {
    filter: invert(1);
}

html.light *::selection {
    background: hsla(4, 10%, 0%, 0.1);
}


/**
 * Fadeout
 */
html.fadeout body {
    opacity: 0;
    transition: opacity 0.5s;
}

.month-year:nth-child(2) {
    margin-top: 2px;
}

header .items a:not(:first-child) {
    margin-left: 20px;
}

header .items a:not(.active) {
    opacity: 0.5;
}

li.post {
    /* display: flex; */
    margin-bottom: 10px;
}

/* after */
html::after {
    /* height: 100px; */
    display: block;
    margin-top: -50px;
    content: " ";
    /*     background: linear-gradient(transparent, #00000057); */
}


/**
 * Mediaqueries
 */
@media (max-width: 500px) {
    .spotlight .item {
        width: 100% !important;
    }

    article object {
        width: 80% !important;
    }

    article img.active {
        transform: scale(1.2) !important;
    }
}

@media (min-width: 500px) {
    body {
        font-size: 19px;
    }

    pre.highlight code {
        font-size: 15px;
    }

}


/**
 * Animsition
 */
@keyframes in {
    0% {
        /*-webkit-transform: scale(.99);*/
        transform: scale(.99);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.in {
    -webkit-animation-name: in;
    animation-name: in;
}


@keyframes out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(.99);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.out {
    animation-name: out;
}

article object {
    width: 50%;
    margin: 75px auto;
    display: flex;
}

/**
 * Spotlight
 */
.spotlight-in {
    opacity: 0 !important;
    transform: translateY(50px);
    transition: all .3s;
}
.spotlight .item {
    transition: all .3s;
}
.spotlight .item:not(.visible) {
    opacity: 0;
}
.spotlight .item.visible {
    /*transition: none;*/
}

.pager .next span {
    justify-content: flex-end;
}


/**
 * Intro
 */
#bio-intro {
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 50px;
    /* width: calc(100% + 50px); */
    border-width: 1px 0;
    position: relative;
    display: flex;
    /* left: -25px; */
    padding: 20px 0;
    grid-gap: 40px;
    /* grid-template-columns: auto auto; */
}

#bio-intro img {
    height: 200px;
    margin-right: 50px;
}

html:not(.light) #bio-intro img {
    filter: invert(1);
    mix-blend-mode: lighten;
}


#bio-intro h1 {
    margin-top: 5px;
    font-size: 150%;
    margin-bottom: 0;
}




article img {
    position: relative;
    transition: all .3s !important;
    width: 110%;
    border: 3px solid transparent;
    left: -5%;
}

article img:hover {
    border: 3px solid black;
}

article img.active {
    transform: scale(1.6);
    box-shadow: 0 50px 50px 5px rgba(0, 0, 0, 0.108);
    z-index: 3;
    position: relative;
}

 article.has-active img:not(.active) {
     opacity: 0.1 !important;
 }

nav div {
    padding-left: 40;
    padding-top: 20px;
    padding-bottom: 2;
}

a#view-bio {
    /* border: 2px solid hsla(4, 10%, 100%, 0.4); */
    padding: 5 10;
    display: block;
    width: 90px;
    border-style: solid;
    /* margin-top: auto; */
    border-width: 2px 2px 2px 2px;
    text-align: center;
    font-size: 90%;
}

#bio-intro .text {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

a#view-bio:hover {}

img {}