html
  head
    meta charset="utf-8"
    meta content="ie=edge" http-equiv="x-ua-compatible"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    title= "#{current_page.data.title} | Rein van der Woerd"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  body
    header.navbar.navbar-default role="banner"
      .container
        .navbar-header
          a.navbar-brand href="/"
            span.full REIN VAN DER WOERD
            span.short R.VDWOERD
            /! λ.rein.vdwoerd
        .navbar role="navigation"
          ul.nav.navbar-nav
            li= link_active 'Writing', '/index.html'
            li= link_active 'Portfolio', '/portfolio.html'
            li= link_active 'About', '/about.html'
    .container
      = yield
      footer class='index'
        hr
        p style="float: left"
          | Contact me by
          a href="mailto:reinvanderwoerd@"  email
        p.feeds style="float: right"
          a href="/feeds/all.atom.xml"  Atom
          a href="/feeds/all.rss.xml"  RSS
