@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Medium.woff2') format('woff2'),
        url('BrandonText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Light.woff2') format('woff2'),
        url('BrandonText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Black.woff2') format('woff2'),
        url('BrandonText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-RegularItalic.woff2') format('woff2'),
        url('BrandonText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-LightItalic.woff2') format('woff2'),
        url('BrandonText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-ThinItalic.woff2') format('woff2'),
        url('BrandonText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Thin.woff2') format('woff2'),
        url('BrandonText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-BlackItalic.woff2') format('woff2'),
        url('BrandonText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-MediumItalic.woff2') format('woff2'),
        url('BrandonText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-BoldItalic.woff2') format('woff2'),
        url('BrandonText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Bold.woff2') format('woff2'),
        url('BrandonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Regular.woff2') format('woff2'),
        url('BrandonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

