<section class="fullwidth">
    <iframe src="./glasses/blur-final.html" frameborder="0" width="100%" height="100vh" scrolling="no"></iframe>
</section>

<style>

body {
    padding-top: 0;
    background: white;
    color: black;
}
.container {
    margin-top: 0;
}

iframe {
    height: 100vh;
}

header {
    position: absolute;
}

section {
    margin-top: 0;
}

html:not(.menu-open) header #nav-trigger, html:not(.menu-open) footer  {
    filter: invert(1);
}
</style>