<link rel="stylesheet" href="/stylesheets/noise.css"/>


<div class="menu">
<div class="bio-story">

    <a v-for="tab in tabs"
       class="tab"
       :class="{active: tab == activeTab}"
    @click="activeTab = tab">
    {{tab}}
</a>

<div class="minerva">
    <a href="/">
        blog
        <div class="link-description">thoughts</div>
    </a>
</div>
</div>


<div class="other" :class="activeTab">
<template v-if="activeTab == 'biography'">

    <p><strong>I am fundamentally interested in the interaction between people’s minds and bodies and technology.</strong> Steve Jobs
        once made the comment that a computer is like a <a style="display:inline;" href="https://www.youtube.com/watch?v=npqD602G90o">bicycle for the mind</a>: it can make you think further with less
        effort.
    </p>

    <img src="/images/working.jpg" alt="" style="margin-bottom: 30px;"/>

    <p><strong>A computer can act as a dialogue partner for your brain. </strong>

    </p>

    <p>
        <strong>I like to create small, neat, intuitive things</strong>, and that sometimes means
        they turn out comically small. A small creation reduced to essentials both inside and out is more satisfying to me than a larger but
        messier one, though I admire the latter and try to borrow what I can. Writing explanations/tutorials
        helps me with this, as every unnecessary line of code/design element removed is one that I don’t have to
        explain. With code, I aim for snippets that are immediately grokkable (and, ideally, copy-pasteable).</p>

    <p><strong>I am impatient.</strong> Speed is very important to me, both in final products and in the development
        process. I <em>love</em> interactive development, where I can immediately see the results of changing something.
        That’s not that different from artists and musicians, who can also step back from their canvas or replay a track
        at will. </p>

    <p>As a result, <strong>I care a lot about the ‘interaction design’ of creating digital products itself too</strong>.
        I try to resist the pull of improving design and development tools however, because they take more work than I
        can put in and I’d rather focus on making more human-centric products and combinations with other disciplines.
    </p>
    <p><strong>Sometimes my love for speed of development and polishing conflict</strong>, as in the case of native vs
        web development. I desperately want smooth animation and a familiar feeling, but by the time I’ve sat through a
        day of compile-test cycles I’m already bored and ready to move onto the next idea.</p>

    <img src="/images/cello-robot.jpg" alt=""/>
</template>

<template v-if="activeTab == 'data'">
    <div class="data-grid">
        <div class="data-label">education</div>
        <p>
            Application Development (graduated) / Pre-education Art & Design (Artez Zwolle) /
                HBO-ICT (Hanze, propedeutic year) / Design (Academie Minerva, propedeutic year)
        </p>

        <div class="data-label">skills</div>
        <p>
            Web-programming and design / interaction- and ui design / game development / graphic design / electronics / illustration / writing
        </p>

        <div class="data-label">interests</div>
        <p>
            Philosophy / psychology / history / computer science / music theory
        </p>

        <div class="data-label">future</div>
        <p>
            Get better at concepts development / learn music theory / electronics? / get into AI? /
        </p>

        <div class="data-label">contact</div>
        <p>
            <a href="tel:0624175977" style="margin-bottom: 5px;">0624175977 </a> <a href="mailto:reinvanderwoerd@me.com">reinvanderwoerd@me.com</a>
        </p>
    </div>

</template>

<template v-if="activeTab == 'experiments'">
    <a href="//bitmeggle.herokuapp.com/text">
        <video src="/images/bitmeggle.mp4" autoplay muted loop playsinline></video>
    </a>

    <a href="//remembrancepoemgen.herokuapp.com/">
        <img src="/images/poemgen.png" alt=""/>
    </a>

    <a href="/bio/glasses/blur-final.html">
        <video src="/images/glasses.mp4" autoplay muted loop playsinline></video>
    </a>

<!--    <video src="/images/Liechess.mp4" controls="controls"></video>-->
</template>

<template v-if="activeTab == 'pico'">
    <div class="grid" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
        <div class="cart">
            <video src="/images/pico/trumpland.mp4" muted autoplay playsinline loop></video>
            <div class="name">Trumpland</div>
        </div>
        <div class="cart">
            <video src="/images/pico/plines.mp4" muted autoplay playsinline loop></video>
            <div class="name">Perspective lines</div>
        </div>
        <div class="cart">
            <video src="/images/pico/cartphysics.mp4" muted autoplay playsinline loop></video>
            <div class="name">Cart Physics</div>
        </div>
        <div class="cart">
            <video src="/images/pico/knight.mp4" muted autoplay playsinline loop></video>
            <div class="name">Knight</div>
        </div>
        <div class="cart">
            <video src="/images/pico/peps.mp4" muted autoplay  playsinline loop></video>
            <div class="name">Peps</div>
        </div>
        <div class="cart">
            <video src="/images/pico/chromepants.mp4" muted autoplay playsinline loop></video>
            <div class="name">Chrome Pants</div>
        </div>
        <div class="cart" style="grid-column: 1 / span 2">
            <img src="/images/peps.jpeg" />
            <div class="name">Communist Retrospective</div>
        </div>
    </div>
</template>

<template v-if="activeTab == 'music'">

<!--    <div id="header-sketch">-->
<!--&lt;!&ndash;        <h1 style="font-size: calc(10vw + 40px)">MUSIC</h1>&ndash;&gt;-->
<!--    </div>-->

<!--        <aside style="order: 2;">-->
<!--            <img id="boy" src="/images/boy.svg"/>-->
<!--        </aside>-->
        <p><strong>I’m not good  a musician, but that doesn’t stop me from playing with it. </strong></p>
        <p>
            I burned my early Garageband
            songs
            to my father’s stash of empty CD’s, and sold them to other kids on the playing ground for 60 cents each
            (a
            loss).
        </p>
        <p>
            I can hear high-pitched tones too well, even
            bats at night. Which is why I mostly prefer instruments like bass and drums and hate it when my brother
            uses his
            guitar to ‘bend’.
        </p>


        <div class="data-grid" style="margin-top: 50px;">
            <div class="data-label">musicians I like</div>
            <p>
                Tune-Yards / Beraadgeslagen / Vulfpeck / Bad Bad Not Good / Kurws / Ancient Methods / Snarky Puppy / Nate Wood / Louis Cole
            </p>
        </div>



        <video src="/images/Liechess.mp4" controls="controls"></video>


        <h2>LIECHJESS</h2>
        <p>
            Experiment: what would happen if you translated chess moves into melodies?
        </p>


        <img src="/images/pico_music.png" alt="" style="width: 50% !important; margin: auto; display: flex;"/>

        <pre class="highlight" style="width: 80% !important; margin: auto;">
            <code>
for i=1,5 do
    poke(rnd(0x8000),rnd(0x100))
end
            </code>
        </pre>


            <audio src="/audio/Chipjazz.m4a" controls="" style="width: 80%; margin: auto; display: flex;"></audio>

            <h2>CORRUPT MODE</h2>
            <p>
                Lately I’ve been experimenting with using Pico-8 to make chip tune music. It’s editor is quite spartan
                but I
                like
                the idea of making believable effects with low-tech tools. White noise to suggest applause or a sea, for
                example.

                Pico allows arbitrary access to memory, and a fun trick is to flip a few random bits every frame. One
                experiment
                I
                did was to use a jazz saxophone ‘cartridge’, <a href="" style="display: inline">Saxophight</a>, together with this memory corruption technique,
                reloading
                as many times as I needed to recorded something that approaches interesting music.
            </p>

            <a href="http://biekabox.reinvanderwoerd.nl/" style="border: none !important; width: 50%; margin: auto">
                <img src="/images/biekabox.png" style="width: 100%%"/>
            </a>


            <h2>
                <a href="http://biekabox.reinvanderwoerd.nl/" >
                    BIEKABOX
                </a>
            </h2>
            <p>
                My brother <i>is</i> good with music, however, and I like working together with him or helping him out
                with software.

                I helped make <a href="http://stephan.vdwoerd.com/" style="display: inline !important;">his website</a>, and even made a fake record player
                with moveable arm that gets it’s music from Soundcloud.
            </p>


</template>
</div></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>


<script>

new Vue({
    el: '.menu',
    data: {
        tabs: [
            'biography',
            'data',
            'experiments',
            'pico',
            'music'
        ],
        activeTab: 'biography'
    }
})


</script>


<style>
.container {
    padding: 0;
}

.tab:not(.active):not(:hover) {
    opacity: 0.5;
}

.div-block .menu {
    margin-top: 15vh;
}

a {
    border-bottom: none !important;
}

.more {
    opacity: 0;
    transition: all .5s;
}

.more.expanded {
    opacity: 1;
}

.container {
    margin-top: 157px;
}

.p a {

}


/**
 * Pico
 */
.cart {
    position: relative;
}

.cart:not(:hover) .name {
    opacity: 0;
}

.cart .name {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}
</style>


