<article>
    <p><strong>I am fundamentally interested in the interaction between people’s minds and bodies and technology.</strong> Steve Jobs
        once made the comment that a computer is like a <a style="display:inline;" href="https://www.youtube.com/watch?v=npqD602G90o">bicycle for the mind</a>: it can make you think further with less
        effort.
    </p>

    <img src="/images/working.jpg" alt="" style="margin-bottom: 30px;"/>

    <p><strong>A computer can act as a dialogue partner for your brain. </strong>

    </p>

    <p>
        <strong>I like to create small, neat, intuitive things</strong>, and that sometimes means
        they turn out comically small. A small creation reduced to essentials both inside and out is more satisfying to me than a larger but
        messier one, though I admire the latter and try to borrow what I can. Writing explanations/tutorials
        helps me with this, as every unnecessary line of code/design element removed is one that I don’t have to
        explain. With code, I aim for snippets that are immediately grokkable (and, ideally, copy-pasteable).</p>

    <p><strong>I am impatient.</strong> Speed is very important to me, both in final products and in the development
        process. I <em>love</em> interactive development, where I can immediately see the results of changing something.
        That’s not that different from artists and musicians, who can also step back from their canvas or replay a track
        at will. </p>

    <p>As a result, <strong>I care a lot about the ‘interaction design’ of creating digital products itself too</strong>.
        I try to resist the pull of improving design and development tools however, because they take more work than I
        can put in and I’d rather focus on making more human-centric products and combinations with other disciplines.
    </p>
    <p><strong>Sometimes my love for speed of development and polishing conflict</strong>, as in the case of native vs
        web development. I desperately want smooth animation and a familiar feeling, but by the time I’ve sat through a
        day of compile-test cycles I’m already bored and ready to move onto the next idea.</p>

    <img src="/images/cello-robot.jpg" alt=""/>
</article>
