---
title: 'Blog'
---

<ul class="post-list">
  <% blog.articles.group_by {|a| a.date.stamp('july 2017') }.each do |month_year, articles| %>
    <li>
      <div class="month-year"><%= month_year %></div>
      <ul>
        <% articles.each do |article| %>
          <li class="post"><a href="<%= article.url %>"><%= article.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
