<h1>
    Projects with Ludwig
</h1>

<p>
In january 2018 Ludwig won a Grammy award with the concert Crazy Girl Crazy conducted by Barbara Hannigan.
I played a role in the interaction and design of the projects below. These were paid assignments.
</p>


<a href="http://ludwiglive.nl/pastpresentfuture/">
    <video autoplay playsinline muted loop src="/images/ludwig/ppp.mp4"></video>
</a>

<a href="http://ludwiglive.nl/flood-animated/">
    <video autoplay playsinline muted loop src="/images/ludwig/verdronken-land.mp4"></video>
</a>

<a href="http://ludwiglive.nl/van/">
<video autoplay playsinline muted loop src="/images/ludwig/van.mp4"></video>
</a>


<h2>
    Maangezicht
</h2>

<p>
Interactive animation/visualization during a concert in Tivoli Vredenburg,
made together with Ksenia Anokhina. Combination of illustration and programming.
</p>

<a href="http://ludwiglive.nl/maangezicht/">
    <video autoplay playsinline muted loop src="/images/ludwig/maangezicht.mp4"></video>
    <video autoplay playsinline muted loop src="/images/ludwig/maangezicht-site.mp4"></video>
</a>

<style>
html.light, html {
    background-color:  black !important;
    --color: white !important;
    color: white !important;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 50px;
}
video {
    width: 100%;
    margin-top: 50px;
}
a {
    border-bottom: 0px !important;
}

h2 {
    margin-top: 100px;
}

p {
    opacity: 0.8;
}

</style>