<h1>
    Projects with Ludwig
</h1>

<a href="http://ludwiglive.nl/pastpresentfuture/">
    <img src="/images/ludwig/ppp.gif" alt="">
</a>

<a href="http://ludwiglive.nl/flood-animated/">
    <img src="/images/ludwig/verdronken-land.gif" alt="">
</a>

<h2>
    Maangezicht
</h2> 


<style>
html {
    background-color:  black !important;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 50px;
}

a {
    border-bottom: 0px !important;
}
</style>