<h1>
    Projects with Ludwig
</h1>

In xx 2018 won Ludwig een Grammy award voor xxx concert gedirigeerd door Barbara Hannigan.
Ik heb meegewerkt aan de interactie en vormgeving van onderstaande projecten.
Dit waren betaalde opdrachten.

<a href="http://ludwiglive.nl/pastpresentfuture/">
    <video autoplay playsinline muted loop src="/images/ludwig/ppp.mp4"></video>
</a>

<a href="http://ludwiglive.nl/flood-animated/">
    <video autoplay playsinline muted loop src="/images/ludwig/verdronken-land.mp4"></video>
</a>


<h2>
    Maangezicht
</h2>

Animatie tijdens voorstelling in Tivoli Vredenburg, verzorgt samen met Ksenia Anokhina.
Combinatie van illustratie en programmeren.

<a href="http://ludwiglive.nl/maangezicht/">
    <video autoplay playsinline muted loop src="/images/ludwig/maangezicht.mp4"></video>
    <video autoplay playsinline muted loop src="/images/ludwig/maangezicht-site.mp4"></video>
</a>

<style>
html.light, html {
    background-color:  black !important;
    --color: white !important;
    color: white !important;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 50px;
}
video {
    width: 100%;
}
a {
    border-bottom: 0px !important;
}
</style>