@import "./stylesheets/site.css";

body, html, a {
    background: white !important;
    --color: #333 !important;
    color: #333;
}

body {
    max-width: 800px;
    padding-bottom: 100px;
}


object {
    width: 50vw;
    max-width: 600px;
    margin: auto;
    display: flex;
}

main img {
    width: 100%;
}

#max {
    margin-top: 100px;
}