<!--<div id="header-sketch">-->
<!--&lt;!&ndash;    <h1 style="font-size: 14vw">FAMILY</h1>&ndash;&gt;-->
<!--</div>-->

<img id="family" src="/images/Family.svg" alt="">

<style>
    body, html, :root {
        padding: 0;
        --background: #35393F !important;
    }

    header {
        padding: 50px;
    }
    .container {
        margin-top: 0;
        padding-bottom: 20vh;
        overflow: scroll;
        max-width: 100vw;
        -webkit-overflow-scrolling: touch;
    }

    img#family {
        width: 400vw !important;
        margin: auto;
        max-width: 1200px;
        padding: auto 100px
    }




</style>