---
title: 'hacking-programming'
---

<div id="header-sketch">
    <h1 style="font-size: calc(10vw + 10px)">HACKING</h1>
</div>

<section>
    <aside>

    </aside>
    <main>
        Tube radio, opa
        Spectro

        MBO techniek
    </main>
</section>


<div id="header-sketch">
<h1 style="font-size: calc(10vw)">PROGRAMMING</h1>

</div>

<section>
    <aside></aside>
    <main>
    </main>
</section>
