<section id="start">
</section>


<section id="primaryschool"></section>
<section id="secondaryschool" class="fullwidth" style="background: #33333359; min-height: 200px">
    <div class="inner">
        <h1 style="font-weight: bold">Secondary school</h1>
    </div>

</section>
<section id="deltion"></section>
<section id="landstede"></section>
<section id="appademic"></section>
<section id="hbo-ict"></section>
<section id="minerva-ksenia"></section>
<section id="interaction"></section>


<style>
    body {
        overflow-x: hidden;
    }
    section {
        display: flex;
    }
</style>
