---
title: 'Interaction'
---

<h1>Interaction</h1>

<section>
I like the idea of using the least amount of technology to solve a problem, but I still love technology. A paradox?

Steve Jobs: computer like a bicycle

I want to combine Interaction/programming with other fields

Interested in how we can use computers to enhance our mental abilities

Also interested in <i>feedback loops</i> between people and technologies.

I always pause halfway during a task while using a program to analyze the micro-interactions,
and have dozens of text- and image editors and todo apps installed.
</section>