---
title: 'Interaction'
next: ''
---

<div id="header-sketch">
    <h1 style="font-size: calc(5vw + 10px)">INTERACTION</h1>
</div>

<section>
    <aside>
        <i>insert drawing</i>
    </aside>
    <main>

        <p>
            From an early age I've been obsessed with user interfaces. I remember sketching a drag & drop idea on a napkin on a vacation to La Gomera, and rewatching the releases of the iPhone and iPad from my bed.
        </p>
        <p><strong>I am fascinated by the interaction between people’s minds and bodies and technology.</strong> Steve Jobs once made the comment that a computer is like a bicycle for the mind: it can make you think further with less effort. </p>
    </main>
</section>


<section>
<!--    <aside style="order: 2;">-->
<!--&lt;!&ndash;        <img src="http://mindthegap.kseniaanohina.reinvanderwoerd.nl/assets/gifs/arrow.gif"&ndash;&gt;-->
<!--&lt;!&ndash;             style="margin: auto;&ndash;&gt;-->
<!--&lt;!&ndash;                    transform: rotateZ(90deg);&ndash;&gt;-->
<!--&lt;!&ndash;                    display: flex;&ndash;&gt;-->
<!--&lt;!&ndash;                    margin-top: 100px;&ndash;&gt;-->
<!--&lt;!&ndash;                    opacity: 0.1;&ndash;&gt;-->
<!--&lt;!&ndash;                    margin-bottom: 0;"/>&ndash;&gt;-->
<!--    </aside>-->




    <main>
        <p>
            <strong>I am a perfectionist.</strong> I like to perfect small, neat, intuitive things, and that sometimes means they turn out comically small. For the animation block at Minerva, some classmates made whole animated scenes. I made a ‘scroll down’ arrow gif of a few frames. I question every addition, and when a minor effect makes a website slow or too complicated, for example, I drop it.
        </p>
        <p><strong>A small creation reduced to essentials both inside and out is more satisfying to me than a larger but messier one</strong>, though I admire the latter and try to steal what I can. Writing explanations/tutorials helps me with this, as every unnecessary line of code/design element removed is one that I don’t have to explain. With code, I aim for snippets that are immediately grokkable (and, ideally, copy-pasteable).</p>
    </main>
</section>




<section>
    <aside style="min-height: 500px;">
        <iframe src="./uidragging.html" frameborder="0" width="100%" height="500px"></iframe>
    </aside>
    <main>
        <p><strong>I am impatient.</strong> Speed is very important to me, both in final products and in the development process. I <em>love</em> interactive development, where I can immediately see the results of changing something. That’s not that different from artists and musicians, who can also step back from their canvas or replay a track at will. </p>
        <p>As a result,  <strong>I care a lot about the ‘interaction design’ of creating digital products itself too</strong>. I try to resist the pull of improving design and development tools however, because they take more work than I can put in and I’d rather focus on making more human-centric products and combinations with other disciplines.</p>
        <p><strong>Sometimes my love for speed of development and polishing conflict</strong>, as in the case of native vs web development. I desperately want smooth animation and a familiar feeling, but by the time I’ve sat through a day of compile-test cycles I’m already bored and ready to move onto the next idea.</p>
    </main>
</section>

