<div class="menu">
    <div class="bio-story">
        <a href="/bio/menu#">
            facts and figures
            <div class="link-description">timeline</div>
        </a>
        <a href="/bio/menu#">
            interests
            <div class="link-description">timeline</div>
        </a>
        <a href="/bio/menu#">
            interaction
            <div class="link-description">timeline</div>
        </a>
        <a href="/bio/menu#">
            future
            <div class="link-description">timeline</div>
        </a>
    </div>


    <div class="other">
        <a href="/bio/menu#">
            commissions
            <div class="link-description">ludwig, ...</div>
        </a>
        <a href="/bio/menu#">
            illustration animation
            <div class="link-description">timeline</div>
        </a>
        <a href="/bio/menu#">
            timebased
            <div class="link-description">timeline</div>
        </a>
        <a href="/bio/menu#">
            spatial
            <div class="link-description">timeline</div>
        </a>
    </div>
</div>





<style>
.container {
    padding: 0;
}

.div-block .menu {
    margin-top: 15vh;
}

a {
        border-bottom: none !important;
}

</style>