---
title: "Music"
---


<div id="header-sketch">
    <h1 style="font-size: calc(10vw + 40px)">MUSIC</h1>
</div>

<section style="margin-bottom: 100px">
    <aside style="order: 2;">
        <img id="boy" src="/images/boy.svg"/>
    </aside>
    <main style="order: 1;">
        <p><strong>I’m not good with music, but that doesn’t stop me from playing with it. </strong></p>
        <p>
            I burned my early Garageband
            songs
            to my father’s stash of empty CD’s, and sold them to other kids on the playing ground for 60 cents each (a
            loss).
        </p>
        <p>
            I can hear high-pitched tones too well, even
            bats at night. Which is why I mostly prefer instruments like bass and drums and hate it when my brother uses his
            guitar to ‘bend’.
        </p>
    </main>
</section>


<section style="grid-column: 2">
<aside>
</aside>
<main>

</main>



<aside>
    <div class="split">
     <pre class="highlight">
            <code>
        for i=1,5 do
            poke(rnd(0x8000),rnd(0x100))
        end
            </code>
     </pre>
        <img src="/images/pico_music.png" alt=""/>
    </div>
    
   

    <audio src="/audio/Chipjazz.m4a" controls=""></audio>
</aside>
<main>
    <h2>CORRUPT MODE</h2>
    <p>
        Lately I’ve been experimenting with using Pico-8 to make chip tune music. It’s editor is quite spartan but I
        like
        the idea of making believable effects with low-tech tools. White noise to suggest applause or a sea, for
        example.

        Pico allows arbitrary access to memory, and a fun trick is to flip a few random bits every frame. One experiment
        I
        did was to use a jazz saxophone ‘cartridge’, Saxophight, together with this memory corruption technique,
        reloading
        as many times as I needed to recorded something that approaches interesting music.
    </p>
</main>
</section>


<section>
<aside>
    <a href="http://biekabox.reinvanderwoerd.nl/" style="border: none !important;">
        <img src="/images/biekabox.png" style="width: 100%"/>
    </a>
</aside>
<main>
    <h2>
        <a href="http://biekabox.reinvanderwoerd.nl/" style="color: #D8A96B !important">
            BIEKABOX
        </a>
    </h2>
    <p>
        My brother <i>is</i> good with music, however, and I like working together with him or helping him out with software.

        I helped make <a href="http://stephan.vdwoerd.com/">his website</a>, and even made a fake record player with moveable arm that gets it’s music from Soundcloud.
    </p>
</main>
</section>


<section>
<aside>
    <video src="/images/Liechess.mp4" controls="controls"></video>
</aside>
<main>
    <h2>LIECHJESS</h2>
    <p>
        Experiment: what would happen if you translated chess moves into melodies?
    </p>
</main>
</section>

