body {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  perspective: 300px;
  font-family: Eksell Display;
  background: none;
}

.center {
  width: 50vw; 
  margin-bottom: 100px;
/*   margin-left: 100px; */
/* transform: rotateY(45deg); */
}

h5 {
  margin: 0;
}